.numberSwipeDiv {
  text-align: center;
}

.swiper {
  width: 60px;
  height: 55px;
  text-decoration: none;
  background-color: white;
  color: rgba(17, 129, 121, 0.943);
  display: inline-block;
  border: 2px solid rgba(17, 129, 121, 0.943);
  border-top: none;
  border-bottom: none;
  font-size: 2em;
  text-align: center;
}
