.mainStudyPage {
    background: url("/background.png") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;

    .rocketship {
        transform: rotate(70deg);
    }
    
    p {
        margin: 0;
        padding-top: 10px;
        text-align: center;
    }
    canvas {
        display: block;
        margin: 0 auto;
    }
}


@media screen and (max-width: 349px) {
    .mainStudyPage {
        canvas {
            width: 269px;
        }
    }
    
}