.mainStudyPage {
    background: url("/background.png") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;
    
    p {
        margin: 0;
        padding-top: 5px;
        text-align: center;

    }
    .lives {
        font-size: 1.5em;
    }
    .problem{
        font-size: 1.8em;
        padding-top: 0;
        text-align: center;
    }

    canvas {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        border: 7px solid rgba(255, 255, 255, 0.22);
        background-color: rgba(23, 117, 23, 0.15);
    }
    .controls {
        text-align: center;
        width: 340px;
        margin: auto;
        border: 7px solid rgba(255, 255, 255, 0.22);
        border-top: none;
        border-radius: 0 0 8px 8px;
        button {
            padding: 7px 30px;
            background-color: rgba(250, 24, 67, 0.507);
            display: inline-block;
            border: 1px solid black;
            color: white;
            font-size: 1.1em;
        }
        input {
            width: 200px;
            margin-right: 30px;
        }
    }
}


@media screen and (max-width: 349px) {
    .mainStudyPage {
        canvas {
            width: 269px;
        }
    }
    
}