.lobbyMain {
    background: url("/background2.png") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.lobbySquare {
    margin: 20px;

}

.disabledSquare {
    width: 200px;
    line-height: 40px;
    font-size: 18px;
    color: #333;
    background-color: gray;
    border: 1px solid #333;
    text-align: center;
    position: relative;
    border-radius: 4px;
}