html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Utility classes */
.flex-box-sa {
  display: flex;
  justify-content: space-around;
}
.flex-box-sb {
  display: flex;
  justify-content: space-between;
}
.flex-box-se {
  display: flex;
  justify-content: space-evenly;
}
.flex-box-se-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-box-sb-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.flex-box-col-se {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-box-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-box-col-sa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}